body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.playing-area {
    margin: 0.6% auto auto;
    border-radius: 25px;
    height: 1000px;
    width: 1000px;
    background-color: forestgreen;
    border: 5px solid white;
}

.imageContainer {
    height: 726px;
    width: 500px;
    background-color: black;
    margin: 15% auto auto;
    border-radius: 25px;
}

/*@media screen and (max-width: 710px){*/
/*    .playing-area {*/
/*        background-color: pink;*/
/*    }*/
/*}*/