:root {
    --sec-width: 1500px;
    --border-radius: 8px;
    --back-color: white;
    --sec-color: #3b6e8f;
    --text-color: white;
    --color-button: #e31937;

    --form-width: 500px;
}

@media screen and (max-width: 1100px) {
    :root {
        --form-width: calc(100vw - 50px);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    background: var(--back-color);
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

button {
    font-weight: bold;
    font-size: 29px;
    width: fit-content;
    border: white 0 solid;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
}

button:active {
    outline: black solid 1px;
}

.vert_center {
    margin-left: auto;
    margin-right: auto;
}

.remove_a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.overflow_hidden {
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;

    width: 1100px;
    color: black;
}

.content .inleiding {
    padding: 25px 14px 14px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 125px;

    background-color: white;
}

.header img {
    height: 90%;
}

.header a {
    height: 90%;
}

.upper_section {
    display: flex;
    justify-content: center;

    height: 200px;

    background: url("../images/somebody_using_laptop.webp") no-repeat center;
    background-size: cover;
}


.upper_section .top_image {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

    width: 320px;
}
.upper_section p {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;

    margin-top: auto;
    margin-bottom: auto;
}

.upper_peace {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.upper_peace .text_peace {
    line-height: 150%;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.upper_peace .diagram{
    width: var(--form-width);
    height: calc(var(--form-width) * 0.8);
    margin: 15px auto 0;
}

.upper_peace .diagram #myChart {
    width: 100% !important;
    height: 100% !important;
}

.forms {
    width: 1100px;
    height: calc(var(--form-width) * 0.8);
    margin: 25px auto 0;
}

.forms .page_numb {
    font-style: italic;
    position: absolute;
    transform: translateY(100%) translateX(-100%);
}

.forms .forms_header {
    width: 900px;
    text-align: center;

    margin-right: auto;
    margin-left: auto;
}

.forms .forms_header h1 {
    margin-bottom: 15px;
    color: var(--color-button);
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions .question {
    margin-top: 35px;
    width: 800px;
}

.questions .question p {
    margin-bottom: 15px;
    font-weight: bold;
}

.questions .question label {
    padding-left: 5px;
}

.questions .question label:first-of-type {
    margin-right: 10px;
}

.but_submit {
    margin: 35px auto;

    background-color: var(--color-button);
    color: white;
    cursor: pointer;
}

.lower_peace {
    display: flex;
    padding-bottom: 15px;
}

.lower_peace .information {
    line-height: 150%;
    padding-top: 22px;
    padding-left: 25px;
    width: 50%;
}

.end-form {
    display: none;
    flex-direction: column;
    width: 50%;

    margin: 0 auto 20px;
}

.end-form .column {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
    margin-bottom: 15px;
}

.end-form .next-to {
    flex-direction: row;
    justify-content: space-between;
}

.end-form .peace {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.end-form .important {
    color: red;
    font-weight: bold;
}

.end-form input {
    border: gray solid 1px;
    border-radius: 2px;

    padding: 10px;
    font-style: italic;
}

.end-form button {
    background-color: var(--color-button);
    color: white;
    cursor: pointer;
}

.shake_ele {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.important_border {
    outline-color: red;
    border-color: red !important;
}

.correct_border {
    outline-color: limegreen;
    border-color: limegreen !important;
}

.footer {
    margin-top: auto;

    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: var(--sec-color);
}

.footer .right_logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer .right_logo img {
    height: 60%;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media screen and (max-width: 1100px) {
    .header {
        height: 100px;
    }

    .upper_section {
        height: 100px;
    }

    .upper_section p {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 1.6rem;
    }

    .upper_peace {
        flex-direction: column;
    }

    .upper_peace .text_peace {
        width: 100%;
        padding: 25px 25px 0;
    }

    .lower_peace {
        flex-direction: column-reverse;
    }

    .lower_peace .end-form {
        width: 100%;
    }

    .lower_peace .information {
        width: 100%;
        padding: 25px;
    }

    .forms .page_numb {
        transform: translateX(0%);
    }

    .forms {
        width: 100%;
        padding: 0 14px;
    }

    .content {
        width: 100%;
    }

    .end-form {
        padding: 10px 25px;
        width: 100%;
    }
}

@media screen and (max-width: 915px) {
    .forms .page_numb {
        transform: translateY(0%);
    }

    .forms .forms_header {
        margin-top: 15px;
        width: 100%;
    }

    .questions .question {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }

    .footer .copyright {
        padding-top: 15px;
        font-size: 1rem;
    }
    .footer .right_logo {
        width: 400px;
        justify-content: center;
    }

    .footer .right_logo img {
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    button {
        font-size: 2rem;
    }

    .content .inleiding {
        padding: 14px;
    }

    .header a {
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer .right_logo {
        width: 100%;
    }
}

.h_fit_content {
    height: fit-content;
}